<div id="home" class="head section">
  <div class="profile">
    <div class="profile-text">
      <span [innerHTML]="introText"></span>
      <button>Contact Me</button>
    </div>
    <div class="profile-picture">
      <img
        src="https://stackblitz.com/files/angular-ivy-ctnw61/github/crunck78/angular-ivy-ctnw61-portfolio/master/src/profile.png"
        alt=""
      />
    </div>
  </div>
  <button
    class="profile-btn"
    routerLink="/#about"
    (click)="navigation.forceNavigate('about')"
  >
    View More
  </button>
</div>
