<div
  id="home"
  appInView
  (visibilityChange)="navigation._visibilityChangeHandler($event)"
  class="head section"
>
  <div class="profile">
    <div class="profile-text">
      <p>
        <span
          [style.animation-delay]="getAnimationDelay(i)"
          [innerHTML]="char == ' ' ? '&nbsp;' : char"
          class="char"
          *ngFor="let char of introText; let i = index"
        ></span>
      </p>
      <button
        routerLink="/#contact"
        (click)="navigation.forceNavigate('contact')"
      >
        Contact Me
      </button>
    </div>
    <div class="profile-picture">
      <img
        #imgHead
        src="https://stackblitz.com/files/angular-ivy-ctnw61/github/crunck78/angular-ivy-ctnw61-portfolio/master/src/profile.png"
        alt=""
      />
    </div>
  </div>
  <button
    class="profile-btn"
    routerLink="/#about"
    (click)="navigation.forceNavigate('about')"
  >
    View More
  </button>
</div>
