.section {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.head {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 1;
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-text p {
  color: white;

  font-size: larger;

  border-left: 2px solid red;
  padding-left: 16px;

  line-height: 1.6;
}

.profile-text button {
  margin-top: 16px;
}

.profile-picture img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.profile-btn {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

button {
  background-color: transparent;
  color: white;

  transition: all 300ms ease-in-out;
}

button:hover {
  background-color: white;
  color: black;
}

.char {
  font-size: 20px;
  height: 40px;
  animation: an 1s ease-out 1 both;
  display: inline-block;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

@media (max-width: 800px) {
  .profile {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media (max-height: 500px) and (max-width: 800px) {
  .profile-picture img {
    display: none;
  }
}

@media (max-width: 350px) {
  .profile-picture img {
    width: 100%;
    height: auto;
  }
}

/* @media (min-width: 320px) {
} */
