<div
  (window:scroll)="navigation.scroll()"
  (window:resize)="navigation.scroll()"
  id="menu"
  [class.fixed]="navigation.router.url !== '/imprint'"
  class="menu section"
>
  <div (click)="toggleNav($event)" class="logo">
    <p class="unselectable">
      <b>MA<span>_</span></b>
    </p>
  </div>
  <div [class.navOpen]="navOpened" class="nav">
    <a routerLink="/#home" (click)="navigation.forceNavigate('home')">Home</a>
    <a routerLink="/#about" (click)="navigation.forceNavigate('about')"
      >About</a
    >
    <a routerLink="/#portfolio" (click)="navigation.forceNavigate('portfolio')"
      >Portfolio</a
    >
    <a routerLink="/#contact" (click)="navigation.forceNavigate('contact')"
      >Contact</a
    >

    <a routerLink="/imprint">Imprint</a>
  </div>
</div>
