.categorie-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  padding: 10px 0;
  box-shadow: 0px 1px 0px 0px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  border: 2px solid black;
  border-radius: 6px;
  width: 250px;
  height: 250px;
  margin: 20px;
  position: relative; /*relevant for project-overlay*/
}

.project-card:hover .project-overlay {
  opacity: 1;
  display: flex;
}

.project-card:hover .project-img {
  filter: blur(20px);
}

.project-card:hover .project-url {
  animation: showBottomTop 300ms ease-in-out;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: filter 300ms ease-in-out;
}

.project-overlay {
  display: none;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);

  flex-direction: column;

  transition: opacity 300ms ease-in-out;

  overflow-y: hidden;
}

.project-url {
  margin-top: auto;
  cursor: pointer;
  position: relative;
}

@media (min-width: 1440px) {
  .project-card {
    width: 500px;
    height: 500px;
  }
}

@keyframes showBottomTop {
  from {
    top: 100%;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
