<div
  appInView
  (visibilityChange)="navigation._visibilityChangeHandler($event)"
  class="section"
>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
  vulputate at risus ac dignissim. Sed vitae urna sit amet erat aliquam dictum.
  Aenean imperdiet leo id gravida sodales. Vestibulum feugiat eu metus a
  dignissim. Donec non semper ipsum, sed consequat velit. Nunc blandit sagittis
  libero et porta. Donec feugiat velit nec ipsum bibendum, sed rhoncus dui
  viverra. Nullam facilisis est ut ligula lacinia molestie. Class aptent taciti
  sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
  quis erat varius, semper ipsum nec, dictum nibh. Sed sodales rutrum magna, vel
  sollicitudin ex tincidunt sed. In tristique luctus vestibulum. Maecenas nec
  pellentesque nunc. Cras convallis libero ut justo tincidunt, id varius diam
  molestie. Praesent gravida felis et justo ultricies vulputate. Suspendisse
  vehicula metus quis nulla scelerisque volutpat. Curabitur vehicula velit non
  sapien malesuada auctor. Nulla ac enim eleifend, lobortis eros mattis, varius
  purus. Quisque eget sem a dui cursus efficitur aliquam non arcu. Duis diam
  metus, molestie ut purus id, pharetra consectetur velit. Morbi iaculis
  venenatis justo et molestie. Phasellus in maximus mi, a fringilla ligula. Duis
  placerat tellus nec ante pellentesque mattis. Proin dolor dui, vestibulum eu
  tortor at, viverra eleifend dui. Quisque mauris arcu, faucibus ut sapien
  vestibulum, sollicitudin ullamcorper nisi. Integer ultrices metus ac tortor
  interdum hendrerit. Nunc in augue gravida, dictum sapien sit amet, tempus
  massa. Donec aliquet, nulla nec sollicitudin fermentum, mauris leo molestie
  sapien, consequat dignissim mauris magna ut odio. Morbi quis est risus.
  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
  turpis egestas. Etiam lacinia ipsum ac libero cursus, in pharetra nisi
  feugiat. Nulla sit amet justo egestas, tempus neque id, pretium orci. Nunc eu
  odio orci. Fusce eu orci molestie, hendrerit enim et, fringilla tortor. Nulla
  lacinia risus tellus, sit amet elementum enim dignissim eu. In ultrices orci
  dapibus nisl placerat malesuada. Nulla maximus volutpat ullamcorper.
  Pellentesque ac faucibus ligula. Aliquam ligula nulla, ultricies varius quam
  sit amet, porta lobortis libero. Maecenas egestas venenatis iaculis. Phasellus
  turpis nunc, suscipit quis rhoncus in, scelerisque sed elit. Ut et eros vel
  nunc molestie ultricies. Integer lacinia sapien sit amet ultricies placerat.
  Maecenas vitae cursus velit. Aliquam nec auctor magna. Cras a orci neque.
  Nulla vel ante ut turpis laoreet hendrerit ac tristique odio. In hac habitasse
  platea dictumst.
</div>
